*, *:before, *:after {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
                box-sizing:border-box;
}

body { 
    background-color: rgba(255,255,255);
    font: 16px/1.42857 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
}
header {
    background-image:url(banner3.jpg);
	background-size: cover;
    color: rgba(0, 255, 0);
    height: 190px;
    padding: 0px 5px;
}

header img{
 float: right;
 opacity: 0.9;
 margin-top:70px;
 width:120px;
 height:120px;
}

#login
{
	float: right;
	width:44.42%;
	height:80px
}
#loginheading
	{
		width:100%;
		height:25px;
		float: left;
		margin:0 0 1% 0;
		padding:0px;
		font-family:Georgia;
		font-size:20px;
		color:#000;
	}
#loginheading h4
	{
		height:25px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Georgia;
		font-size:20px;
		font-weight:normal;
		color:#000;
	}
#input
	{
		width:31.67%;
		height:25px;
		float: left;
		font-family:Arial;
		font-size:10px;
		color:#000;
	}
#input02
	{
		width:31.67%;
		height:25px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:12px;
		color:#000;
	}


.input
	{
		width:92%;
		height:25px;
		float: left;
		margin:0px;
		padding:2% 0 0 8%;
		font-family:Arial;
		font-size:12px;
		color:#000;
		border:solid 1px #ead28b;
		background-color:#6082d1;
	}
#loginbutton
	{
		width:8%;
		height:25px;
		float:left;
		margin:0 0 0 3%;
		padding:0px;
		background-color: #6082d1;
		
	}
.login
	{
		width:100%;
		height:25px;
		float:right;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:10px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-color: #6082d1;
		background-repeat:no-repeat;
	}
nav {
    background-color: #eee;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 60px;
    display: block;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  background: #6082d1;
  opacity: 0.9;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
  background: #6082d1;
}

nav li ul { display: none; }

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;

}

nav ul li a:hover { background: #2c3e50; }

nav li:hover > ul {
  display: block;
  position: absolute;
}
 
nav li:hover li { float: none; }

 
nav li:hover a { background: #6082d1; }
 

nav li:hover li a:hover { background:  #6082d1; }

 
nav li ul li { border-top: 0; }

nav ul li a:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }

nav ul ul ul {
  left: 100%;
  top: 0;

}


#content {
    margin: 0 auto;
    width: 86.5%;
    display: block;
}

article {
    float: left;
    margin-bottom: 2.5%;
	width: 60%;
    overflow: hidden;
}
article.#text{
    background-color: #3a251a;
    width: 100%;
}


#section1 {
    background-color:#eee;
    border: 1px solid #ccc;
    margin-left: 7%;
	margin-top: 200px;
    padding-left:2.8%;
	padding-right:2.8%;
}
#section2{
	background-color:#eee;
    border: 1px solid #ccc;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 7%;
    padding-left:2.8%;
	padding-right:2.8%;
}



aside {
    width: 40%;
    display: block;
	overflow:hidden;
    position:relative;
}

#manRat{
    float: left;
	padding-left: 10px;
	padding-right: 20px;
	width:49%;
}

#womanRat{
    float: left;
	padding-left: 10px;
	padding-right: 20px;
	width:49%;
}


#imagesAside{
   line-height: 10px;
}

.photo1{
    position: relative;	
	width:30%;
	padding-left:1%;
    float: left;
	height:150px;
}
#imagesAside1{
	position: relative;
    float: left;
	padding-left: 5.5%;
	padding-bottom: 2%;
    display:block;
	width: 330px;
	height:330px;
}
#photo2{
	width:100%;
}

#imagesAside2{
   position: relative;
    float: left;
	padding-left: 5.5%;
	padding-bottom: 2%;
    display:block;
	width:330px;
	height:360px;
}
#photo3{
	width:100%;
}


footer {
    background-color: #003366;
    clear: both;
    color: #ffffff;
    padding: 50px 20px;
}

footer small a {
    color: #eff;
}

@media (max-width: 1200px) {
	#login{
		width:20%;
		display:block;
		float:right;
		margin-right: 4%;
		position:relative;
	}

	#loginheading{
		display:none;
	}
	
	#loginbutton{
		width:98%;
		position:relative;
		margin-top:6px;
		margin-left:0;
		display:block;
	}

	#input 
	{
		width:50%;
	}
	
	#input02{
		width:50%;
	}
	
	.input
	{
		width:96%;
		margin-top:4px;
	}

}

@media (max-width: 991px) {
	nav:{
		font-size: 14px;
		margin-bottom:0;
	}
	#imagesAside1{
		height: 275px;
		width:275px;
	}
	
	#imagesAside2{
		height: 300px;
		width:275px;
	}
}
@media (max-width: 900px) {
	article{
		width: 90%;
	}
	aside{
		width:100%;
	}
	nav{
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	article{
		width: 90%;
	}
	aside{
		width:100%;
		font-size:16px;
	}

	#login{
		width:15%;
		margin-right: 5px;
		font-size: 8px;
	}
	.photo1{
		display:none;
	}
	#section1{
		margin-top:10px;
	}
	
	#imagesAside1{
		height: 220px;
		width:220px;
		right:50px;
	}
	
	#imagesAside2{
		height: 220px;
		width:200px;
		left:50px;
	}
}
@media (max-width: 600px) {
	#imagesAside1{
		display:none
	}
	
	nav{
		font-size: 10px;
	}
	
	#imagesAside2{
		display:none;
	}
	

}


</style>